[submodule "marker_detector"]
	path = marker_detector
	url = https://github.com/SHM-white/marker_detector.git
	branch = main
[submodule "marker_tracker"]
	path = marker_tracker
	url = https://github.com/SHM-white/marker_tracker.git
	branch = main
[submodule "hik_camera_driver_ros2"]
	path = hik_camera_driver_ros2
	url = https://github.com/SHM-white/hik_camera_driver_ros2.git
	branch = main
[submodule "robot_serial"]
	path = robot_serial
	url = https://github.com/SHM-white/robot_serial.git
	branch = main
