[submodule "marker_detector"]
	path = marker_detector
	url = git@github.com:nuaa-rm/marker_detector.git
	branch = main
[submodule "marker_tracker"]
	path = marker_tracker
	url = git@github.com:nuaa-rm/marker_tracker.git
	branch = main
[submodule "hik_camera_driver_ros2"]
	path = hik_camera_driver_ros2
	url = git@github.com:nuaa-rm/hik_camera_driver_ros2.git
	branch = main
[submodule "robot_serial"]
	path = robot_serial
	url = git@github.com:nuaa-rm/robot_serial.git
	branch = main
